<!-- Modal add User -->
<div id="modal_user" class="modal fade" tabindex="-1" role="dialog" data-bind="modal:show">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title"><center data-bind="text: title"></center></h2>
            </div>
            <div class="modal-body">
                <editable-text params="id: 'nom', label: 'Nom : ', value: user.nom, required: true, classLabel: 'col-sm-4',
                    classControl: 'col-sm-8', error: nomError" ></editable-text>
                <editable-text params="id: 'prenom', label: 'Prenom : ', value: user.prenom, required: true,
                    classLabel: 'col-sm-4', classControl: 'col-sm-8', error: prenomError" ></editable-text>
                <editable-select params="id: 'pays', label: 'pays : ', value: pays, classLabel: 'col-sm-4', classControl: 'col-sm-8',
                    reference: 'libelle', url: '/pays/get-all', originalOptions: optionsPays, multiple: false, error: paysError"></editable-select>
                <editable-date params="id: 'date', label: 'Date : ', value: user.date, classLabel: 'col-sm-4',
                    classControl: 'col-sm-8', error: dateError" ></editable-date>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click : save">save</button>
                <button type="button" class="btn btn-default" data-bind="click : close">Close</button>
            </div>
        </div>
    </div>
</div>
