<!DOCTYPE html>
<html>
    <head>
        <!-- main.bundle.js -->
        <script src="/scripts/home/main.bundle.js"></script>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/index.css">
        <script type="text/javascript">
		      window.getAllUsersUrl = "/user/get-all";
              window.saveUserUrl = "/user/save";
              window.removeUserUrl = "/user/remove";
              window.getAllReferentielUrl = "{referentiel}/get-all";
	    </script>
    </head>
    <body>

        <div id="main" class="container">

            <!-- Title -->
            <h1><center><%= title %></center></h1>

    </body>
</html>