<!DOCTYPE html>
<html>
    <head>

        <title><%= title %></title>
    </head>
    <body>

        <div id="main" class="container">

            <!-- Title -->
            <h1><center><%= title %></center></h1>

    </body>
</html>