<!DOCTYPE html>
<html>
    <head>
        <% include ./common/default-include.ejs %>
        <title><%= title %></title>
    </head>
    <body>

        <div id="main" class="container">

            <!-- Title -->
            <h1><center><%= title %></center></h1>
        
        </div>

    </body>
</html>