<template id="editable-text-template">
    <div data-bind="attr:{'class': classDiv, 'id': id}, visible: visible(), css: { 'has-error': error }">
        <label data-bind="attr:{'class': classLabel}, text: label, visible: visibleLabel()"></label>
        <div data-bind="attr:{'class': classControl}">
            <input class="form-control" data-bind="attr:{'type': format, 'placeholder': placeholder}, value: value, event: {blur: blur, focus: focus}">
        </div>
    </div>
</template>

<template id="editable-select-template">
    <div data-bind="attr:{'class': classDiv, 'id': id}, visible: visible(), css: { 'has-error': error }">
        <label data-bind="attr:{'class': classLabel}, text: label, visible: visibleLabel()"></label>
        <div data-bind="attr:{'class': classControl}">
            <select data-bind="selectedOptions: selectedOptions, options: options, select2: {placeholder: placeholder, maximumSelectionLength: maxChoice,
                allowClear: false, width: '100%'}, attr: {multiple: multiple}, blur: blur, focus: focus"></select>
        </div>
    </div>
</template>

<template id="editable-date-template">
    <div data-bind="attr:{'class': classDiv, 'id': id}, visible: visible(), css: { 'has-error': error }">
        <label data-bind="attr:{'class': classLabel}, text: label, visible: visibleLabel()"></label>
        <div data-bind="attr:{'class': classControl}">
            <input class="form-control" data-bind="datepicker: value, attr:{'type': format, 'placeholder': placeholder}, event: {blur: blur, focus: focus},
                datepickerOptions: {format: 'dd/mm/yyyy', weekStart: 1, autoclose: true, gotoCurrent: true, language: 'fr'}">
        </div>
    </div>
</template>
